# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/
__debug_bin
examples/nano_demo/web-server/node_modules/
examples/nano_demo/nano_client/node_modules/
deploy/nats/streaming1/data/
deploy/nats/streaming1/log/
deploy/nats/streaming2/data/
deploy/nats/streaming2/log/
deploy/nats/streaming3/data/
deploy/nats/streaming3/log/
/logs/
examples/nano_demo/logs/
.lh/
.ini
